html, body {
    margin: 0;
    font-family: sans-serif;
}

/* layout containers */

.header {
    float: left;
    background: tomato;
}

.nav {
    width: 20%;
    background: deepskyblue;
}

.article {
    width: 50%;
    background: lightgreen;
}

.aside {
    width: 30%;
    background: gold;
}

.footer {
    position: absolute;
    bottom: 0;
    float: left;
    background: hotpink;
}


/* use a class to set common styles for columns */
.column {
    float: left;
}

/* give the paragraphs some breathing room */
p {
    margin: 16px;
}

/* try float or using this clearfix hack */
.clearfix {
    clear: both;
    overflow: auto;
}

/* you don't need to change this it's an easy way to use p tags to add filler content */
p::after {
    content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.";
}